name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '25'

      - uses: gradle/actions/setup-gradle@v4

      - name: Build
        run: ./gradlew --no-daemon build
